<%# DISCOVER SHOWS COUNTRIES VISITED BY WHO USER IS FOLLOWING THAT USER HAS NOT VISITED %>
<div>
<h2> Discover Countries to Travel to</h2>
</div>
<br>

<div>
<h4>Hit List Countries Friends have Visited</h4>
</div>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          User
        </th>

        <th>
          Country
        </th>

        <th>
          Created at
        </th>


        <th>
          
        </th>
      </tr>
      
      <% @current_user.feed_visits.order({ :country => :asc }).each do |country_visit| %>
      <%# ON FRIENDS VISITED %>
      <% if @user_countries_hit.include?(country_visit.country) == true %>
          <tr>

            <td>
              <%= User.where({ :id => country_visit.user_id}).at(0).username %>
            </td>

            <td>
              <%= country_visit.country %>
            </td>

            <td>
              <%= time_ago_in_words(country_visit.created_at) %> ago
            </td>

            <td>
              <a href="/country_visits/<%= country_visit.id %>">
                Show details
              </a>
            </td>
          </tr>
        <%else%>
        <% end %>
      <% end %>
    </table>
  </div>
</div>

<hr>
