<div >
  <h2>
    Homepage
  </h2>
</div>

<div>
   <table class="homepage_profile_section">
    <tr>
      <th>
        <%= @current_user.username %> 
      </th>

      <th>
        <%= @user_countries_visit.count %> 
        Countries Visited 
      </th>

      <th>
        <%= @user_countries_hit.count %> 
        Countries to Hit 
      </th>

      <th>
        Followers
      </th>

      <th>
        Following
      </th>
    </tr> 
</div>

