<div >
  <h2>
    Homepage
  </h2>
</div>

<div class="homepage_profile_bar">
    <ul style="list-style-type:none">
      <li> <%= @current_user.username %> </li>
      <li> Countries Visited</li>
      <li>Followers</li>
      <li>Following</li>
    </ul>
</div>

