<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      Final Project
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Travel Lists
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="/country_visits/" class="dropdown-item">
              Visited Countries
            </a>
            <a href="/country_hit_lists/" class="dropdown-item">
              Hit List
            </a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Friends
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/following">
              Following</a>
            <a class="dropdown-item" href="/followers">
              Followers</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Feed
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/feed">
              Recent Visits</a>
            <a class="dropdown-item" href="/discover">
              Discover Countries to Visit</a>
          </div>
        </li>
      </ul>

      
    </div> <!-- .navbar-collapse -->

    

    <ul class="navbar-nav">
        <% if @current_user.blank? %>
          <li class="nav-item">
            <a href="/user_sign_in" class="nav-link">
              Sign in
            </a>
          </li>

          <li class="nav-item">
            <a href="/user_sign_up" class="nav-link">
              Sign up
            </a>
          </li>
        <% else %>
          <p class="navbar-text">Signed in as <%= @current_user.username %></p>
          <li class="nav-item">
            <a href="/edit_user_profile" class="nav-link">
              Edit profile
            </a>
          </li>

          <li class="nav-item">
            <a href="/user_sign_out" class="nav-link">
              Sign out
            </a>
          </li>
        <% end %>
      </ul>

  </div> <!-- .container -->
</nav>
