<% if @current_user.blank? %>
<% else %>
  <div class="sidebar">
    <a href="#">Username</a>
    <a href="#">Countries Visited</a>
    <a href="#">Followers</a>
    <a href="#">Following</a>
  </div>
<% end %>

