/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

  .homepage_profile_section, .userpage_profile_section {
    margin-left:auto; 
    margin-right:auto;
    background-color: #F0FFFF;
    width: 100%;
    table-layout: fixed ;
    text-align: center;
    vertical-align: center;
    color: #0d47a1; 
	  border: 1px solid #2E2E2E;
  }


.homepage_profile_section th, .userpage_profile_section th {
  height: 50px;
  vertical-align: center;
      
  }

.homepage_profile_section a:link, .homepage_profile_section a {
  color: #0d47a1;
  text-decoration: none;
}
